[Desktop Entry]
Type=Application
Version=1.0
Name=Firefox
Categories=Network;WebBrowser;
GenericName=Web Browser
Icon=firefox
Exec=firefox
Terminal=false
